<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <div class="container aboutUScontainer">
            <h1 class="text-center mt-5 mb-3 aboutUsH" hidden>RANDOM</h1>
            <h3 class="aboutUsH mb-3 mt-5">¿QUÉ ES RANDOM?</h3>
            <p>
                Es la alternativa que encontramos al ver que nos inunda la información pero es muy poco lo que nos queda y acompaña en la vida cotidiana, y menos aún lo que puede generar que el mundo sea un lugar más sincero, responsable y placentero.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Son las <strong>ganas de hablar</strong> de lo que nos apasiona.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Es la idea de formar un <strong>pensamiento crítico</strong> a partir del mundo en el que vivimos.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Es caminar sin columna vertebral pero <strong>con múltiples apoyos</strong>.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Random son <strong>muchas realidades, es diversidad.</strong>
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Es <strong>simplificar lo complejo</strong> ateniéndonos a las consecuencias.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Random es un <strong>atardecer con amigxs</strong> hablando de todo un poco.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Es entender distintos puntos de vista y estar <strong>abierto al diálogo.</strong>
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Es <strong>expresión y es respeto.</strong>
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Es <strong>cuidar el mundo</strong> en el que convivimos.
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Son muchas horas de diferencia, 5 océanos, muchos aviones y múltiples videollamadas.
            </p>

            <h3 class="aboutUsH mt-5 mb-3">¿QUIÉNES SOMOS?</h3>
            
            <p><i class="far fa-check-circle"></i>
                Somos <strong>una mezcla</strong> entre lo que es políticamente correcto y lo que no.
            </p>
            <p><i class="far fa-check-circle"></i>
                Somos de <strong>Argentina, Colombia, El Salvador, España, Panamá, Perú y Venezuela.</strong>
            </p>
            <p><i class="far fa-check-circle"></i>
                Somos <strong>muchas etiquetas</strong> que no queremos tener.
            </p>
            <p><i class="far fa-check-circle"></i>
                Somos <strong>contradictorios.</strong>
            </p>
            <p><i class="far fa-check-circle"></i>
                Somos <strong>el resultado de la sobre-información.</strong>
            </p>
            <p><i class="far fa-check-circle"></i>
                Somos personas. Já, tanto show para esto.
            </p>
            <p><strong>¿Y vos sos Random?</strong></p>

            

            <!--<h2 class="aboutUsH text-center mt-5 mb-4">NUESTRO EQUIPO</h2>
            <div class="team row">
                <% for(let i = 0; i< journalists.length; i++){ %>
                    <div class="journalist col-6 col-md-2">
                        <img class="journalist" src="/images/users/<%=journalists[i].image%>" alt="">
                        <h4 class="aboutUsH text-center journalist"><%=journalists[i].name%> <%=journalists[i].lastname%></h4>
                    </div>
                <% } %>
            </div>-->
            

        </div>
        <%- include('./partials/footer') %> 
        <%- include('./partials/scripts') %>
    </body>
</html>