<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <div class="login-container container">
            <% if(typeof errors != 'undefined') { %>
                <div class="alert alert-danger mt-5" role="alert">
                    <% for(let i = 0; i < errors.length; i++){ %>    
                        <small class="text-danger"> <%= errors[i].msg%> </small>
                    <% } %>    
                </div>
            <% } %>
            <form class="text-center justify-content-center p-5" action="/user/changeP" method="POST">
                
                <h4 class="mb-4">Cambiar contraseña</h4>
                
                <div id="btn-max-width">
                    <h5 class="text-left">E-mail</h5>
                    <input name="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" id="btn-max-width" required>
                    <h5 class="text-left">Nueva contraseña</h5>
                    <input name="password" type="password" id="defaultLoginFormEmail" class="form-control mb-4" id="btn-max-width" required>
                    <h5 class="text-left">Confirmar contraseña</h5>
                    <input name="confirmPassword" type="password" id="defaultLoginFormEmail" class="form-control mb-4" id="btn-max-width" required>
                </div>
                
                <div id="btn-max-width">
                    <button class="btn btn-info btn-block my-4 btn-log-reg" type="submit" id="btn-max-width">Cambiar</button>
                </div>                
                
            </form>
        </div>
        <%- include('./partials/footer') %> 
        <script src="/js/validateRegister.js"></script>
        <%- include('./partials/scripts') %>
    </body>
    

</html>