<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/Head') %>

    <body>
    
        <%- include('./partials/Header') %>
        <div class="container-fluid">
            <div class="container">
                <h1>Carrito de compras</h1>
                <!--CARRITO-->

                <div class="seguirComprando">
                    <button type="button" class="colorBoton botonStyle"><a href="/product/listadoDeProductos">Seguir Comprando</a></button>
                </div>

                <div class="carrito row">
                    <% if(typeof productos == 'undefined' || productos.length == 0){ %>
                        <h5>No has agregado ningun producto a tu carrito.</h5>
                    <% } else { %>
                        <% for(let i = 0; i < productos.length; i++){ %>
                            <div class="col-10">
                                <div class="row">
                                    <img class="col-12 col-md-3" src="/images/productos/<%=productos[i].imagenes[0].nombre%>" alt="">
                                    <div class="col-12 col-md-8">
                                        <h4><%=productos[i].nombre%></h5>
                                        <h6>Cantidad: <%=cantidad[i].cantidad_productos%></h6>
                                        <h6>Color Seleccionado: <%=colores[cantidad[i].id_colores-1].nombre%></h6>
                                        <h6>Precio: $<%=productos[i].precio%></h6>
                                        <form action="carrito/<%=productos[i].id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                            <button type="submit" class="colorBoton botonStyle">Eliminar</button>
                                        </form>
                                    </div>
                                    <div class="separacion col-12">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        <% } %>
                        
                        <div class="btnDiv col-12">
                            <button type="button" class="continuar botonStyle"><a href="carrito/infoUsuarioCompra">Continuar</a></button>
                        </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/scripts.ejs') %> 
    </body>
</html>