<!DOCTYPE html>
<html lang="en">

 <%- include('./partials/Head') %> 

<body>
    <div class="main-container-account">
            <%- include('./partials/Header') %> 
            <div class="container-edit container-fluid">
                <article class="container-saludo">
                    <br>
                     <h1 class="saludo">Hola, <b><%= usuario.nombre%></b></h1>
                     <br>
                </article>

               
                <article class="form-article ">

                    
                    <div class="info-usuario" >
                        <img class="avatar-usuario" src="/images/usuarios/<%= usuario.imagen_usuario %>" alt="avatar">
                        <h3><%= usuario.nombre + " " + usuario.apellido %></h3>
                        <p><%= usuario.email %></p>
                        <p><%= (usuario.dni == null)? '' : usuario.dni %> </p>
                        <p><%= (usuario.domicilio == '' && usuario.departamento == '') ? '' : usuario.domicilio + " " + usuario.departamento %></p>
                        <p><%= (usuario.entre_calles == '') ? '' : usuario.entre_calles %> </p>
                        <p><%= (usuario.codigo_postal == null) ? '' : usuario.codigo_postal %></p>
                        <p><%= (usuario.telefono == null)? '' : usuario.telefono %></p>

                       
                    </div>
                    
                    <button class="botonStyle col-5 col-md-4 boton-editar" data-toggle="collapse" data-target="#content">Editar</button>
                 
                    <form class="formulario-editar-cuenta  row collapse" action="/user/cuenta/<%= usuario.id %>?_method=put" method="POST" id="content" enctype="multipart/form-data">

                        <div class="col-7 col-sm-6 form-div row"  nombre>
                            <label class="etiqueta col-12" id="label nombre"  for="nombre">Nombre</label>
                            <input class="inputStyle campo col-10" type="text" name="nombre" placeholder="Nombre" value="<%= usuario.nombre %>">
                        </div>
                        <div class="col-8 col-lg-10">
                            <% if(typeof errores != 'undefined'){ %>
                                <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "nombre"){ %>
                                        <small class="text-danger"> <%= errores[i].msg%> </small>
                                    <% } %> 
                                <% } %>
                            <% } %>
                        </div>

                        <div class="col-7 col-sm-6 form-div row" >
                            <label class="etiqueta col-12" id="label apellido"  for="apellido">Apellido</label>
                            <input class="inputStyle campo col-10" 
                            type="text" name="apellido" placeholder="Apellido" value="<%= usuario.apellido %> "> 
                        </div>
                        <div class="col-8 col-lg-10">
                            <% if(typeof errores != 'undefined'){ %>
                                <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "apellido"){ %>
                                        <small class="text-danger"> <%= errores[i].msg%> </small>
                                    <% } %> 
                                <% } %>
                            <% } %>
                        </div>

                        <div class="col-12 col-sm-12 form-div row email">
                            <label class="etiqueta col-12" for="email" >Email</label>
                            <input class="inputStyle campo col-10" type="email" name="email" placeholder="usuario@mail.com" value="<%= usuario.email %>">
                        </div><div class="col-8 col-lg-10">
                            <% if(typeof errores != 'undefined'){ %>
                                <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "email"){ %>
                                        <small class="text-danger"> <%= errores[i].msg%> </small>
                                    <% } %> 
                                <% } %>
                            <% } %>
                        </div>



                        <div class="col-7 col-sm-6 form-div row">
                            <label class="etiqueta col-12" for="dni">DNI</label>
                            <input class="inputStyle campo col-10" type="number" name="dni" placeholder="1234547" value="<%= (usuario.dni == null)? null : usuario.dni %>" >
                        </div>
             
                        
                        <div class="col-12 col-sm-12 form-div row">
                            <label class="etiqueta col-12" for="domicilio">Dirección</label>
                            <input class="inputStyle campo col-10" type="text" name="domicilio" placeholder="Direccion" value="<%= (usuario.domicilio == '') ? '' : usuario.domicilio %>">
                        </div>
                 
                        
                        <div class="form-div col-7 col-sm-6 row">
                            <label class="etiqueta col-12" for="codigo_postal">C.P.</label>
                            <input class="inputStyle campo col-10" type="text" name="codigo_postal" placeholder="C.P." value="<%= (usuario.codigo_postal == null)? '' : usuario.codigo_postal %>">
                        </div>

                        <div class="col-12 col-lg-6 form-div row">
                            <label class="etiqueta col-12" for="entre_calles">Entre Calles</label>
                            <input class="inputStyle campo col-10" type="text" name="entre_calles" placeholder="Entre Calles" value="<%= (usuario.entre_calles == '') ? '' : usuario.entre_calles %>">
                        </div>
                        
                        <div class="col-12 col-lg-6 form-div row">
                            <label class="etiqueta col-12" for="departamento" >Departamento, piso, etc</label>
                            <input class="inputStyle campo col-10" type="text" name="departamento" placeholder="Departamento, piso, ect" value="<%= (usuario.departamento == '') ? '' : usuario.departamento %>">
                        </div>

                        <div class="col-12 col-lg-6 form-div row">
                            <label class="etiqueta col-12" for="telefono">Telefono 
                            </label>
                            <input class="inputStyle campo col-10" type="text" name="telefono" placeholder="110000000" value="<%= (usuario.telefono == null)? null : usuario.telefono %>">
                        </div>

                        <div class="col-12 col-lg-6 form-div row">
                            <div class="col-12">
                                <img class=" img-editar-cuenta" src="/images/usuarios/<%= usuario.imagen_usuario %> " alt="">
                            </div>
                            <label class="etiqueta col-12" for="imagen_usuario">Avatar 
                            </label>
                            <input class="inputStyle campo col-10" type="file" name="imagen_usuario">
                        </div>

                        <div class="col-12 col-sm-12 form-div row d-inline-flex justify-content-center">
                          <button class="botonStyle boton-guardar col-7" type="submit">Guardar Cambios</button>
                        </div>

                    </form>
                    
            </article>
        </div>
        <%- include('./partials/footer') %> 
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>