<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/Head') %>

    <body>
        <%- include('./partials/Header') %>
        <div class="container-fluid">
            <div class="container">
                <div class="misCompras">
                    <h3 class="ml-3">Mis compras</h3>
                    <% for(let i = 0; i < productosComprados.length; i++){ %>
                        <div class="productoComprado row">
                            <img class="col-3" src="/images/productos/<%= productosComprados[i].imagenes[0].nombre %>" alt="">
                            <div class="productInfo col-9">
                                <h5><%=productosComprados[i].nombre%></h5>
                                <h6>Precio: $<%=Number(productosComprados[i].precio)%> X <%=Number(cantidadDeProducto[i].cantidad_productos)%> = $<%=Number(productosComprados[i].precio * cantidadDeProducto[i].cantidad_productos)%></h6>
                                
                            </div>
                        </div>
                    <% } %>
                    <% if(productosComprados.length == 0) { %>
                        <br>
                        <h6>No has realizado compras</h6>
                    <% } %>
                </div>
            </div>
        </div>
        


        <%- include('./partials/footer') %> 
        <%- include('./partials/scripts') %>
    </body>
</html>