<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Head') %> 
<body>
    <%- include('./partials/Header') %> 
    <div class="container-fluid">
    <div class="container">
        <div class="registro-container row">
            <div class="formulario-registro-container col-10 col-lg-5 d-inline-flex justify-content-center">
                <form action="/user/registro" method="POST" class="row d-inline-flex justify-content-center" enctype="multipart/form-data">
                    <h3 class="col-12">Registrate</h3>
                    <div class="col-8 col-lg-10">
                        <label for="">Nombre</label>
                        <br>
                        <input class="inputStyle" type="text" name="nombre" id="inputNombre">
                    </div>
                    <div class="col-8 col-lg-10">
                        <small class="text-danger erNombre"></small>
                    </div>
                    <div class="col-8 col-lg-10">
                        <% if(typeof errores != 'undefined'){ %>
                            <% for(let i = 0; i < errores.length; i++){ %>
                                <% if(errores[i].param == "nombre"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                <% } %> 
                            <% } %>
                        <% } %>
                    </div>
                    

                    <div class="col-8 col-lg-10">
                        <label for="">Apellido</label>
                        <br>
                        <input class="inputStyle" type="text" name="apellido" id="inputApellido">
                    </div>
                    <div class="col-8 col-lg-10">
                        <small class="text-danger erApellido"></small>
                    </div>
                    <div class="col-8 col-lg-10">
                        <% if(typeof errores != 'undefined'){ %>
                            <% for(let i = 0; i < errores.length; i++){ %>
                                <% if(errores[i].param == "apellido"){ %>
                                    <small  class="text-danger"> <%= errores[i].msg%>  </small>
                                <% } %> 
                            <% } %>
                         
                        <% } %>
                    </div>
                    <div class="col-8 col-lg-102">
                        <label for="">Email</label>
                        <br>
                        <input class="inputStyle" type="email" name="email" id="inputEmail">
                    </div>
                    <div class="col-8 col-lg-10">
                        <small class="text-danger erEmail"></small>
                    </div>
                    
                    <div class="col-8 col-lg-10">
                        <% if(typeof errores != 'undefined'){ %>
                            <% for(let i = 0; i < errores.length; i++){ %>
                                <% if(errores[i].location == "email"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                <% } %> 
                                <% if(errores[i].param == "email"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                <% } %> 
                            <% } %>
                        <% } %>
                    </div>

                    <div class="col-8 col-lg-10">
                        <label for="">Contraseña</label>
                        <br>
                        <input class="inputStyle" type="password" name="contrasenia" id="inputContrasenia">
                    </div>
                    <div class="col-8 col-lg-10">
                        <small class="text-danger erContrasenia"></small>
                    </div>

                    <div class="col-8 col-lg-10">
                        <% if(typeof errores != 'undefined'){ %>
                            <% for(let i = 0; i < errores.length; i++){ %>
                                <% if(errores[i].param == "contrasenia"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                <% } %> 
                            <% } %>
                        <% } %>
                    </div>

                    <div class="col-6">
                        <label for="">Seleccioná un avatar</label>
                        <br>
                        <input type="file" name="imagen_usuario" id="">
                    </div>

                    <div class="col-7">
                        <% if(typeof errores != 'undefined'){ %>
                            <% for(let i = 0; i < errores.length; i++){ %>
                                <% if(errores[i].param == "avatar"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                <% } %> 
                            <% } %>
                        <% } %>
                    </div>
                    
                    <div class="col-12">
                        <button type="submit" id="btnSubmit" class="botonStyle btnSubmit">Crear Cuenta</button>
                    </div>
                   
                </form>
            </div>
        </div>
        

    </div>
</div>

    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %>
    <script src="/js/registro.js"></script>
</body>
</html>